/* color palette from <https://github.com/vuejs/theme> */
:root {
  --accent-color: #329181ff;

  --background: #ffffff;
  --background-darker: #eeeeee;
  --background-lighter: #e2eef9;
  --background-highlighted: #f9f4f0ff;
  --projects-background: #353e44;

  --text: #191919;
  --text-alt: #0f1722ff;

  --button-bg: rgba(0, 0, 0, 0.1);
  --button-hover-bg: rgba(145, 67, 50, 0.1);

  --logo-bg: rgba(0,0,0,0)
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #329181ff;

    /* --background: #222426; */
    --background: #181818;
    --background-darker: #111111;
    --background-lighter: #222222;
    --background-highlighted: #272727;
    --projects-background: #353e44;

    --text: #ccc;
    --text-alt: #ccc;

    --button-bg: #ccc;
    --button-hover-bg: rgb(29, 29, 29);

    --logo-bg: #ccc
  }
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  line-height: 1.4;
  font-family: "Roboto", sans-serif;;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
